<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New article</title>
  </head>

  <body>
   <h1>Create a new article</h1>
   <form class="article" action="index.html" method="post">
     <input type="text" name="title" placeholder="Title">
     <input type="text" name="content" placeholder="Content">
     <input type="button" name="submit" value="Create Article">
   </form>
  </body>
</html>
